<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Villes</servlet-name>
        <servlet-class>com.example.client2.servlets.Villes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Villes</servlet-name>
        <url-pattern>/villes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VilleDescription</servlet-name>
        <servlet-class>com.example.client2.servlets.VilleDescription</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VilleDescription</servlet-name>
        <url-pattern>/villeDescription</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Distance</servlet-name>
        <servlet-class>com.example.client2.servlets.Distance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Distance</servlet-name>
        <url-pattern>/distance</url-pattern>
    </servlet-mapping>

</web-app>